.footer {
    display: flex;
    background-color: #ffe44d;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo {
    margin-left: 50px;
    text-decoration: none;
}
.links {
    width: 300px;
    display: flex;
    justify-content: space-around;

}
.socials {
    display: flex;
    gap: 10px;
}

.social__link {
    opacity: 0.5;
}

.social__link:hover {
    opacity: 1;
}

.contacts {
    margin-right: 50px;
}